---
layout: default
---

{% if site.layout_home_page == true %}

<!-- blog post -->
<section class="section">
  <div class="container">
    <div class="row">
      <h3 id="blog-header">Blog</h3>
      {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if thecycle == 'odd' %}
        {% assign class = '' %}
      {% else %}
        {% assign class = 'article-left' %}
      {% endif %}

      
      <div class="col-12 mb-100">
        
        <br>
        <article data-file="{{ post.url | prepend: site.baseurl }}" data-target="article" class="article-full-width {{class}}">
          
          <div class="post-image">
            <img class="img-fluid" src="{{post.image | relative_url}}" alt="{{post.title}}">
          </div>
          <div class="post-content">
            
            <h4 class="mb-4"><a href="{{ post.url | prepend: site.baseurl }}" class="text-dark">{{post.title}}</a></h4>
            <p class="mb-0 post-summary">{{ post.content | strip_html | truncatewords: 30 }}</p>
            <a class="btn btn-transparent mb-4" href="{{ post.url | prepend: site.baseurl }}"><span style="display: flex; flex-direction: row; column-gap: 25px; color: black;">Read More <i class="fas fa-long-arrow-alt-right" style="margin-top: 5px; font-size: 15px;"></i></span></a>
          </div>
        </article>
      </div>
      {% endfor %}
			{% endif %}
    </div>
    {% include pagination.html %}
  </div>
</section>
<!-- /blog post -->

{% include instagram.html %}

{% endif %}