<footer class="bg-secondary">
  <div class="section">
    <div class="container container-1">
      
      <div class="columns row-footer">
        <div class="column">
          <a href="#" class="footer-layer"><span><i class="fas fa-globe-europe"></i> English</span></a>
        </div>
        <div class="column">
          <a href="#" class="footer-layer-1">Privacy Policy</a>  
       </div>
       <div class="column">
        <a href="#" class="footer-layer-2">Licence</a>
      </div>
       <div class="column">
        <a href="#" class="footer-layer-3">API</a>
      </div>
     </div>
    </div>
  </div>
</footer>