<footer class="bg-secondary">
  <div class="section">
    <div class="container">
      <!-- <div class="row-footer">
        {% if site.logo %}
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0 ">
          <a href="#" class="footer-layer"><span><i class="fas fa-globe-europe"></i> English</span></a>
        </div>
        {% endif %}
        {% if site.contact.address %}
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0 ">
          <a href="#" class="footer-layer-1">Privacy Policy</a>  
        </div>
        {% endif %}
        {% if site.contact %}
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0 ">
          <a href="#" class="footer-layer-2">Licence</a>
          
        </div>
        {% endif %}
        {% if site.social %}
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0 ">
          <a href="#" class="footer-layer-3">API</a>
         
        </div>
        {% endif %}
      </div> -->
      <div class="columns row-footer">
        <div class="column">
          <a href="#" class="footer-layer"><span><i class="fas fa-globe-europe"></i> English</span></a>
        </div>
        <div class="column">
          <a href="#" class="footer-layer-1">Privacy Policy</a>  
       </div>
       <div class="column">
        <a href="#" class="footer-layer-2">Licence</a>
      </div>
       <div class="column">
        <a href="#" class="footer-layer-3">API</a>
      </div>
     </div>
    </div>
  </div>
</footer>